.form-container {
    width: 400px; /* Adjust the width of the container */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    font-size: 24px; /* Increase the font size */
    margin-bottom: 20px;
  }
  
  .form-container input[type="email"],
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 15px; /* Increase the padding */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; /* Increase the font size */
  }
  
  .form-container button {
    width: 100%;
    padding: 15px; /* Increase the padding */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px; /* Increase the font size */
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }

  .btn-block:hover {
    background-color: #218838;
  }
  